/*Main Navbar*/
.navbar
{
    min-height: 50px;
} 

/*Navbar links */

 .navbar-nav > li > a 
{
 
   padding-top: 40px;
   padding-bottom: 20px;
   font-size: 16px;
    color: #ffffff  ;
   text-shadow: 2px 2px 3px #000000;
   
   
}

.navbar-toggle  /*l 3 lines lma b3ml l screen sm */
{
    
    color: #000;
    background-color: #888;
    border-color: #000;
}

/*Start Background */
body{
    
  margin-top: 10px;
  
}
form
{
   padding: 9%;
   padding-top: 0%;
   padding-bottom: 0%; 
}
img
{
  margin-top: 90px;
}
.form-group{
    padding: 15px;
}

label
{
    
   font-family: Georgia, serif;
   font-size: 13px;
   padding-bottom: 10px;
   color: #000000  ;
   text-shadow: 2px 2px 3px #ffffff;
}

h1
 {
   font-family: Georgia, serif;
   font-size: 40px;
   padding-bottom: 10px;
 }


.fooofooof{
  margin-top: 100px;
}

